@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@700&family=Space+Mono:wght@700&display=swap");

:root {
  --text-color-white: #f9faf9;
  --text-color-black: #0b0b0b;
  --background-color-black: #030303;
  --background-color-grey: rgba(255, 255, 255, 0.75);
}
.evening-txt {
  color: var(--text-color-black);
}
.morning-txt {
  color: var(--text-color-white);
}
.bg-grey {
  background-color: var(--background-color-grey);
}
.bg-black {
  background-color: var(--background-color-black);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.contrast {
  position: absolute;
  display: flex;
  margin-left: -120px;
  margin-top: -441px;
}
.them {
  display: flex;
  background-color: transparent;
  gap: 10px;
  border: none;
  margin-top: 258px;
  margin-left: -230px;
}
.sun-text,
.moon-text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.time-numbers {
  color: #fff;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 100% */
  letter-spacing: -2.5px;
}
.time-zone {
  display: flex;
  margin-left: -350px;
  margin-top: -133px;
  flex-direction: column;
}
.main-container {
  display: flex;
  margin-top: 340px;
}
.time-pm-am {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 186.667% */
  text-transform: uppercase;
}
.arrow {
  width: 115px;
  height: 39px;
  border-radius: 28px;
  background: #fff;
  border: none;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.geo-location {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 186.667% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.less {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 116.667% */
  letter-spacing: 3.75px;
  text-transform: uppercase;
}
.arrow-up,
.arrow-down {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #303030;
}
.details-transform {
  width: 376px;
  height: 256px;
  /* background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20.387113571166992px); */
  flex-direction: column;
}
.details-transform {
  display: flex;
  margin-left: -283px;
  margin-top: 72px;
}
.timezone-txt,
.dofy-txt,
.dofw-txt,
.w-number-txt {
  /* color: #303030; */
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 280% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.timezone-txt2,
.dofy-txt2,
.dofw-txt2,
.w-number-txt2 {
  /* color: #fcfbfb; */
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.current-timezone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 46px;
  padding-top: 48px;
}
.dofy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 169px;
  padding-top: 16px;
}
.dofw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 189px;
  padding-top: 16px;
}
.w-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  padding-top: 16px;
}
.daytime-tablet-icon {
  display: none;
}
.daytime-desktop-icon {
  display: none;
}

@media only screen and (min-width: 765px) {
  .daytime-icon {
    display: none;
  }
  .daytime-desktop-icon {
    display: none;
  }
  .daytime-tablet-icon {
    display: flex;
    position: absolute;
  }

  .container {
    /* position: absolute; */
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  }

  .contrast {
    position: absolute;
    display: flex;
  }
  .time-zone {
    display: flex;
    margin-left: -350px;
    margin-top: -133px;
    flex-direction: column;
  }
  .main-container {
    position: absolute;
    display: flex;
    margin-top: 1445px;
    margin-left: 1222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }
  .details-transform {
    width: 768px;
    height: 440px;
    flex-direction: column;
    margin-left: -454px;
    margin-top: 21px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sun-text,
  .moon-text {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .time-numbers {
    color: #fff;
    font-family: Inter;
    font-size: 175px;
    font-style: normal;
    font-weight: 700;
    line-height: 175px; /* 100% */
    letter-spacing: -4.375px;
  }

  .time-pm-am {
    color: #fff;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
  }
  .geo-location {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .arrow {
    width: 146px;
    height: 56px;
  }
  .timezone-txt2,
  .dofy-txt2,
  .dofw-txt2,
  .w-number-txt2 {
    /* color: #fcfbfb; */
    text-align: right;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .dofw-txt2 {
    display: grid;
    justify-items: start;
    margin-top: -185px;
  }

  .dofy-txt2 {
    display: grid;
    justify-items: start;
    margin-top: -151px;
  }
  .w-number {
    display: grid;
  }
  .timezone-txt {
    display: flex;
    margin-top: 36px;
  }
  .timezone-txt2 {
    display: flex;
    margin-top: -89px;
  }
  .w-number-txt2 {
    display: grid;
    justify-items: start;
    margin-top: -197px;
  }
  .current-timezone {
    display: grid;

    margin-left: 112px;
  }
  .dofy {
    display: grid;
    margin-top: 62px;
  }
  .dofw {
    display: grid;
    margin-left: -43px;
  }
}
@media only screen and (min-width: 1440px) {
  .daytime-tablet-icon {
    display: none;
  }
  .daytime-desktop-icon {
    display: flex;
    background-size: cover; /* Cover the entire container */
    background-position: center center; /* Center the image horizontally and vertically */
    background-attachment: fixed; /* Fix the background image, so it doesn't scroll with the content */
  }
  .details-transform {
    width: 1621px;
    height: 400px;
    margin-top: 104px;
  }
  .main-container {
    margin-top: 230px;
    margin-left: 273px;
  }
  .time-zone {
    margin-left: -539px;
  }
  .contrast {
    margin-left: -1086px;
    margin-top: -415px;
  }
  .arrow {
    margin-top: -56px;
    margin-left: 895px;
  }
}
